.box-1 {
    flex:1;
    order:2;
    background-color: rgb(6, 67, 48);
    /* font-family: 'Nova Mono', monospace; */
    font-family: 'Poiret One', cursive;
    
  }
  
  
  .box-1 h3{
    text-align: center;
    font-weight: bold;
  }
  .box-1 :hover{
      color: red;
      
  }
  
  .box-2{
    flex:1;
    order:1;
    background-color:  rgb(6, 67, 48);
    /* font-family: 'Nova Mono', monospace; */
    font-family: 'Poiret One', cursive;
  }
  
  .box-2 h3 {
    font-weight: bold;
    text-align: center;
  }

  @media(min-width:468px){
    .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
  
      flex-direction:column;
      */
    }
  }