{% load static %}
<!DOCTYPE html>
<html></html>
<head>
    <title>Total</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
           var empsalary;
           var totalsalary = 0
           $('td:nth-child(3)').each(function(){
                empsalary=$(this).html();
                totalsalary+=parseInt(empsalary);
                $('#totalsalary').text(totalsalary);
           });

        });


    </script>
</head>
<head>
    <nav class="navbar" style="margin-left: auto;">
        <ul class="ul" style="margin-left: auto;">
            <li class="li"><a href="{% url 'DairyManagement:user' %}">Home</a></li>
            <li class="li"><a href="{% url 'DairyManagement:total' %}">Total</a></li>
            <li class="li"><a href="{% url 'DairyManagement:margin' %}">Margin</a></li>

            
            <!-- For DevelopmentPurposes -->

            <li class="li"><a href="http://127.0.0.1:8000/admin/">Admin Dashboard</a></li> 
            <li class="li"><a href="{% url 'DairyManagement:monthlyTotal' %}">MilkTotal</a></li>
        </ul>
    </nav>
    <center>
        <h1>Total Sum</h1>
    </center>
    <hr/>
    <table border="1" style="text-align: center;">
        <tr>
            <th>User</th>
            <th>Sales</th>
            <th>Current Margin</th>
            <th>Date Created</th>
        </tr>
        {% for result in MadeSale %}
        <tr>
            <td>{{result.juror}}</td>
            <td>{{result.sales}}</td>
            <td>{{result.margin}}</td>
            <td>{{result.date_created}}</td>
            
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5">Total</td>
            <td id='totalsalary' style="font-weight: bold;"></td>
        </tr>
    </table>

</head>
</html>