{% load static %}
{% block content %}
<div>
    <title>Total</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
           var empsalary;
           var totalsalary = 0
           $('td:nth-child(6)').each(function(){
                empsalary=$(this).html();
                totalsalary-=parseInt(empsalary);
                $('#totalsalary').text(totalsalary);
           });

        });


    </script>
    </div>
    <div>
    <nav class="navbar">
        <ul class="ul">

        </ul>
    </nav>
    </div>
    <div>
    <center>
        <h1>Margin  </h1>
    </center>
    <hr/>
    <table border="1" style="text-align: center;", style="display: flex;">
        <tr>
            <th>User</th>
            <th>Sales</th>
            <th>Margin</th>

        </tr>
        {% for result in MadeSale %}
        <tr>
            <td>{{result.juror}}</td>
            <td>{{result.sales}}</td>
            <td>{{result.margin}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5">Current Margin</td>
            <td id='totalsalary' style="font-weight: bold;"></td>
        </tr>
    </table>
</br>
    <div class="return" style="align-items: center;">
        <a class="btn btn-sm btn-danger" href="{% url 'home'%}">Return Home</a>
    </div>
</div>
{% endblock %}